name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  ci:
    if: ${{ !cancelled() && ! failure() }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
      - name: Set up PDM
        uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4
        with:
          cache: true
          python-version: ${{ matrix.python-version }}
          version: 2.19.2
      - run: env | sort
      - run: make prerequisites
      - run: make dev
      - run: make lint test doc build
    strategy:
      matrix:
        os:
          # renovate: github-runner
          # - macos-14
          # renovate: github-runner
          - ubuntu-24.04
          # renovate: github-runner
          - windows-2022
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
